<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/shoes">Shoe Catalogue</a></li>
        <li><a href="#">Add Stock</a></li>
        <li><a href="/brands">Brands in Stock</a></li>
        <li>About Us</li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
