<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap" rel="stylesheet">

    <link rel="icon" href="/images/sneaker.png">

    <link rel="stylesheet" type="text/css" href="/styles/structure.css">

    <title>Welcome to Stockist</title>
  </head>
  <body>

    <main class="flex flex--row">
    <header>
      <h2><a href="/">Stockist</a></h2>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/shoes">Shoe Catalogue</a></li>
        <li><a href="/brands">Brands in Stock</a></li>
      </ul>
    </nav>
    <section>
      <h1>Steve's Sneakers Inventory</h1>
      <hr>
      <%= yield %>
    </section>
    </main>
  </body>
</html>
