<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <ul>
        <li>Home</li>
        <li>Stock Inventory</li>
        <li>Brands in Stock</li>
        <li>About Us</li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
