<h1>Shoe Catalogue</h1>
<p>Click on the shoe name to delete or update the products</p>

<hr>

<h4><a href="/shoes/new">Add a new product</a></h4>
<h4><a href="/stock_items/new">Add Stock</a></h4>

<hr>
<table>
  <tr>
    <th>Shoe Name</th>
    <th>Shoe Brand</th>
    <th>Shoe Type</th>
  </tr>
  <% @shoes.each do |shoe| %>
  <tr>
    <td><a href="/shoes/<%= shoe.id %>"><%= shoe.name %></a></td>
    <td><%= shoe.brand %></td>
    <td><%= shoe.type %></td>
  </tr>
<% end %>
</table>
