<form action="/shoes" method="post">


    <label for="product-name">Shoe Name: </label>
    <input type="text" name="name" id="product-name">
  <br>

    <label for="brand-select">Select Brand: </label>
    <select id="brand-select" name="brand_id">
      <% @brands.each do |brand| %>
        <option value="<%= brand.id %>"> <%= brand.name  %> </option>
        <% end %>
    </select>
  <br>

    <label for="shoe-type">Shoe Type: </label>
    <input type="text" name="type" id="shoe-type">
  <br>
    <label for="purchase-price">Purchase Price: </label>
    <input type="number" name="purchase_price" id="purchase-price">
  <br>

    <label for="sell-price">Selling Price: </label>
    <input type="number" name="selling_price" id="sell-price">
  <br>
<input type="submit" value="Add to Inventory">

</form>
