<h1>Brands in Stock</h1>

<p><a href="/brands/new">Add a new Brand to Stock</a></p>


<% @brands.each do |brand|  %>
<h3><a href="/brands/<%= brand.id %>"><%= brand.name %></a></h3>

<!-- Not functional yet -->
<form action="/brands/<%= brand.id %>/edit" method="get">
  <input type="submit" value="Edit Brand">
</form>

<form action="brands/<%= brand.id %>/delete" method="post">
<input type="submit" value="Delete Brand">
</form>

<hr>
<hr>
<% end  %>
